:root {
    --backgroundcolor: rgb(139, 139, 139);
    --font-family: sans-serif;

    
}
* {
    border: red 1px solid;
    font-family:var(--font-family);
    background-color: var(--backgroundcolor);
}


header li {
    font-size: 25px;
    list-style: none;
    display: inline;
    margin: 0px 20px 0px 0px;
    background-color: lightblue;
  }
  a {
    background-color: lightblue;
  }
  h1 {
    margin: 40px 0px 0px 10px;
    font-size: 45px;
    background-color: lightblue;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: lightblue;
    border: 7pxblack solid;
  }
  header ul {
      background-color:lightblue;
  }
  
  .about_me {
    border: 7px black solid;
    display: flex;
    margin:100px 0 100px 0px; 
    background-color: lightblue; 
  }
  #About-me {
     margin:100px 100px 100px 10px;
     font-size: 75px;
     width: 400px;
     background-color: lightblue; 

  }
  
  .about_me p {
    font-size: 30px;
    display: inline;
    margin: 100px 20px 0px 0px;
    text-align: center;
    background-color: lightblue; 
  }
.Works {
    display: block;
    margin:100px 0 100px 0px; 
    background-color: lightblue;
    
}
#Work {
     position: absolute;
     margin:100px 100px 100px 10px;
     font-size: 95px;
     width: 400px;
     background-color: lightblue;
     display: block;
}
figure {
    background-color: lightblue;
    
}
img {
    width: 20%;
    height: auto;
    border: solid 5px black;
    margin: 75px 0 100px 500px;
    border: solid 5px black;
    
}
#neo {
    height: auto;
    border: solid 5px black;
    
    
}
#placeholder {
    width: 100%;
    height: auto;
   
}
#Morpheus {
    
}

figcaption {
    background-color:lightblue;
    font-size: 20px;
    text-align: center;
}
.Resumes {
    font-size: 75px;
    border: 7px black solid;
    display: flex;
    margin:100px 0 100px 0px; 
    background-color: lightblue; 
}

#resume {
    background-color: lightblue;
}
#Resume-example {
    width: 100%;
    height: auto;
}
      
